/*general styling*/

body {
	font-family: sans-serif;
}
h1 {
	font-size: 35px;
}

/*navbar styling*/
nav {
	border-bottom: 2px solid black;
	margin-bottom: 10px;
	padding-bottom: 10px
}
nav div {
	display: inline-block;
}
.logo {
	width: 150px;
}
#navMain {
	padding-left: 20px;
}
#navMain div {
	display: block; 
	/* a div is already a block elment. not needed*/
}

/*content styling*/
#container {
	display: flex;
}
.sideImgContainer {
	margin-right: 20px;
}
.sideImgContainer img {
	width: 300px;
	/* better to give the with to the container and make the img 100% wide*/
}

/*
- in general i am for a fan of naming conventions with "-" e.g. "nav-main", but that is up to you as long as you stick to it


*/