/*general styling*/

body {
	font-family: sans-serif;
}
h1 {
	font-size: 35px;
}
dt {
	font-weight: bold;
}
img {
	width: 100%;
}

/*header*/
.siteHeader {
	border-bottom: 2px solid black;
	margin-bottom: 10px;
	padding-bottom: 10px
}
header div {
	display: inline-block;
}
.headerLogo {
	width: 150px;
}
#navMain {
	padding-left: 20px;
}
nav ul li{
	display: inline;
}

/*content styling*/
#container {
	display: flex;
}
aside {
	width: 300px;
	margin-right: 20px;
}



/*
- in general i am for a fan of naming conventions with "-" e.g. "nav-main", but that is up to you as long as you stick to it

    I'm using us keyboard layout for coding, so i think ill aim for camelCase, and am working on consistency -K
*/