/*general styling*/

body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: silver;
}

dt {
    font-weight: bold;
}

img {
    width: 100%;
}




/*header*/

#banner {
    background-image: url("../images/design1_image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    height: 200px;
    margin 0px;
}

#titleBar {
    margin: 0px;
    background: #033949;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 0;
    padding: 20px;
    position: absolute;
}

h2 {
    margin: 0px;
    color: #fff;
}

#logo {
    position: absolute;
    top: 146px;
    right: 100px;
    z-index: 1;
    width: 150px;
}

dd {
    margin-bottom: 10px;

}

p {
    margin-left: 20px;
}


/*content styling*/

#container {
    display: flex;
    margin: 0px 0px;
    padding: 50px 10px;
}

nav {
    width: 200px;
    margin-right: 20px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #033949;
}
nav a:visited{
    color: #033949;
}


nav ul li {
    list-style-type: none;
    margin: 0px 10px 40px -10px;
}

main {
    flex: 1;
    padding-right: 30px
}

.currentPage {
    text-decoration: underline;
    font-weight: bold;
}