/*main style sheet, for everything reused on multiple pages*/

/*load font*/

@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'sourceSansPro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(../fonts/sourceSansPro.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



/*define vars*/

:root {
    --nyslBlue: #033949;
}



/*general*/

body {
    font-family: roboto, sourceSansPro, sans-serif;
    font-size: 20px;
    background-color: #eee;
    margin: 0;
}

img {
    width: 100%;
}



/*general button style*/

button {
    font-size: 0.8em;
    border: 2px solid grey;
    background-color: #ccc;
    border-radius: 4px;
}

button:hover {
    background-color: #aaa;
}

button:focus {
    border-color: var(--nyslBlue);
    outline: none;
}



/*site container*/

#page {
    max-width: 900px;
    margin: 20px auto;
    border: 1px solid black;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.7);
    box-sizing: border-box;
}



/*top nav bar*/

nav {
    background-color: var(--nyslBlue);
    height: 40px;
    line-height: 40px;
    margin: 0px;
    font-size: 25px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 40px;
}

nav ul li {
    display: inline-block;
    margin: 0;
    height: 100%;
}

nav a {
    background-color: var(--nyslBlue);
    transition: all 0.2s ease-in-out;
    color: white;
    display: inline-block;
    padding: 0 0.3em;
    line-height: 40px;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
}

nav a:hover {
    background-color: white !important;
    color: var(--nyslBlue) !important;
}

nav .active {
    background-color: white !important;
    color: var(--nyslBlue) !important;
}



/*banner*/

#logo {
    width: 150px;
    margin-right: 20px;
    position: relative;
    top: 25px;
    left: 25px;
}

#banner {
    background-image: url("../images/design2_image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    height: 200px;
    margin: 0px;
}



/*location title bar*/

h2 {
    background-color: var(--nyslBlue);
    color: white;
    padding: 5px;
    font-size: 25px;
    margin: 0px;
    font-weight: normal;
    text-align: center;
}



/*site body container*/

#page>div {
    display: flex;
    background-color: white;
}



/*aside picture box*/

aside {
    width: 250px;
    padding: 3em 0px 2em 2em;
    box-sizing: border-box;
}

/*main!*/

main {
    padding: 2em;
    flex: 1;
}

/*content formating*/


p {
    margin-left: 1em;
}

.unindented {
    margin-left: 0em;
}

h4 {
    display: inline;
}
/*description lists*/

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 10px;
}


/*click through button contents */

button * {
    pointer-events: none;
}

/*column wrapper for dual columns*/

.columnWrapper {
    display: flex;
}

.columnWrapper>div {
    flex: 1;
}

.columnWrapper>div:first-child {
    margin-right: 1em;
}

.columnWrapper>div:last-child {
    margin-left: 1em;
}